aiohttp==3.8.4
aiosignal==1.3.1
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.2
cloudpickle==2.2.1
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==41.0.7
discord.py==2.1.1
distlib==0.3.4
filelock==3.13.1
Flask==2.1.1
Flask-Cors==3.0.10
frozenlist==1.3.3
gunicorn==20.1.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
MarkupSafe==2.1.1
multidict==6.0.4
mysql-connector-python==8.0.31
numpy==1.26.3
oscrypto==1.3.0
packaging==23.2
pandas==2.1.4
pdfminer==20191125
pipenv==2022.10.9
platformdirs==3.11.0
pyarrow==14.0.2
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.17
PyJWT==2.8.0
pyOpenSSL==23.3.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32==304
PyYAML==6.0.1
requests==2.31.0
rsa==4.8
scikit-learn==1.0.1
scipy==1.7.2
selenium==3.141.0
six==1.16.0
snowflake-connector-python==3.6.0
snowflake-snowpark-python==1.11.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tensorflow-hub==0.12.0
threadpoolctl==3.0.0
tomlkit==0.12.3
twilio==7.3.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.26.18
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webdriver-manager==3.4.2
yarl==1.8.2
zipp==3.7.0